@media only screen and (max-width: 480px) {

    /* Common */
    #header-text {
        font-size: 25px;
        font-weight: bolder;
        letter-spacing: 1.5px;
    }

    #header-title {
        font-size: 16px;
        color: orangered;
    }

    #or {
        display: none;
    }

    /* Home Page */
    .navbar-brand img {
        width: 60px;
    }

    #home-page .banner {
        margin-top: 5.5rem;
    }

    #home-page .banner-content {
        width: auto;
        height: 350px;
        padding: 0 2rem;
    }

    #home-page .banner-content h1 {
        font-size: 25px;
    }

    #home-page .banner-content p {
        width: auto;
    }

    #home-page .booking-query-section {

        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home-page .booking-query-section form .row {
        display: flex;
        flex-direction: column;
    }

    #home-page .booking-query-section form .row .col {
        margin-top: 5px;
    }

    #home-page .booking-query-section .btn {
        width: 100%;
    }

    /* About Page */
    #about-page {
        height: auto;
        padding: 7rem 1rem;
    }

    .img-banner img {
        margin-top: 1.5rem;
        width: 330px;
        height: 250px;
    }

    #about-page p {
        font-size: 14px;
    }

    /* Room Page */
    #room-page {
        height: auto;
        padding: 7rem 2rem;
    }

    #room-page .card {
        width: 310px;
        height: 250px;
        margin-bottom: 15px;
    }

    #room-page .card img {
        height: 100%;
    }

    /* Service Page */
    #service-page {
        height: auto;
        padding: 7rem 2rem;
    }

    #service-page .service-item {
        flex-direction: column;
    }

    #service-page .servcie-banner {
        width: 300px;
        height: 350px;
        margin-bottom: 15px;
    }

    #service-page .servcie-banner-card {
        margin-bottom: 15px;
    }

    /* Testimonial Page */
    #testimonial-page {
        height: auto;
        padding: 7rem 2rem;
    }

    /* Footer */
    .footer-contact .row {
        display: flex;
        flex-direction: column;
    }

    .footer-contact .single-section {
        margin-bottom: 5px;
    }

    .footer-content {
        position: relative;
        z-index: 2;
        margin-bottom: 2rem;
    }

    .footer-content .row {
        display: flex;
        flex-direction: column;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-social-icon {
        margin-bottom: 2rem;
    }

    /* Login Page */
    #login-page {
        height: auto;
    }

    #login-page .row {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #login-page .row .login-banner {
        display: none;
    }

    #login-page .row .form {
        padding: 1rem;
    }

    .login-icon {
        display: flex;
        flex-direction: column;
    }

    .login-section form {
        padding: 2rem;
    }

    .login-section p a {
        text-decoration: none;
        color: orange;
    }

    .login-icon img {
        width: 24px;
    }

    .login-icon span {
        width: auto;
    }

    /* Registration Page */
    #registration-page {
        height: auto;
    }

    #registration-page .row {
        height: auto;
    }

    #registration-page .row .registration-banner {
        display: none;
    }

    #registration-page .row .form {
        padding: 1rem;
    }

    .registration-icon {
        display: flex;
        flex-direction: column;
    }

    .registration-section form {
        padding: 2rem;
    }

    .registration-section p a {
        text-decoration: none;
        color: orange;
    }

    .registration-icon img {
        width: 24px;
    }

    .registration-icon span {
        width: auto;
    }

    /* Booking Page */
    #booking-page {
        height: auto;
    }

    #booking-page img {
        width: 100px;
    }

    .booking-details .details{
        display: flex;
        flex-direction: column;
    }

    .booking-details .details .form-control,
    .booking-details .details .form-check {
        width: 100%;
    }

    #booking-btn {
        width: auto;
    }

    #cancel-btn {
        width: auto;
    }



    /* Confirm Booking */
    #confirm-booking {
        width: 100%;
        height: 100vh;
        background-color: royalblue;
        display: none;
    }

}