@media only screen and (max-width: 480px) {

    /* Common */
    #header-text {
        font-size: 25px;
        font-weight: bolder;
        letter-spacing: 1.5px;
    }

    #header-title {
        font-size: 16px;
        color: orangered;
    }

    /* Home Page */
    .navbar-brand img {
        width: 60px;
    }

    #home-page .banner {
        margin-top: 6.5rem;
    }

    #home-page .banner-content {
        width: 100%;
        height: 350px;
        padding: 0 2rem;
    }

    #home-page .banner-content h1 {
        font-size: 25px;
    }

    #home-page .banner-content p {
        width: 100%;
    }

    #home-page .booking-query-section {

        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home-page .booking-query-section form .row {
        display: flex;
        flex-direction: column;
    }

    #home-page .booking-query-section form .row .col {
        margin-top: 5px;
    }

    #home-page .booking-query-section .btn {
        width: 100%;
    }

    /* About Page */
    #about-page {
        height: auto;
        padding: 7rem 1rem;
    }

    .img-banner img {
        margin-top: 1.5rem;
        width: 330px;
        height: 250px;
    }

    #about-page p {
        font-size: 14px;
    }

    /* Room Page */
    #room-page {
        height: auto;
        padding: 7rem 2rem;
    }

    #room-page .card {
        width: 310px;
        height: 250px;
        margin-bottom: 15px;
    }

    #room-page .card img {
        height: 100%;
    }

    /* Service Page */
    #service-page {
        height: auto;
        padding: 7rem 2rem;
    }

    #service-page .service-item {
        flex-direction: column;
    }

    #service-page .servcie-banner {
        width: 300px;
        height: 350px;
        margin-bottom: 15px;
    }

    #service-page .servcie-banner-card {
        margin-bottom: 15px;
    }

    /* Testimonial Page */
    #testimonial-page {
        height: auto;
        padding: 7rem 2rem;
    }

    /* Footer */
    .footer-contact .row {
        display: flex;
        flex-direction: column;
    }

    .footer-contact .single-section {
        margin-bottom: 5px;
    }

    .footer-content {
        position: relative;
        z-index: 2;
        margin-bottom: 2rem;
    }

    .footer-content .row {
        display: flex;
        flex-direction: column;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-social-icon {
        margin-bottom: 2rem;
    }

}