@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
#header-text {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

#header-title {
    font-size: 18px;
    color: orangered;
}

html {
    scroll-behavior: smooth;
}

#or {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#or::before,
#or::after {
    position: absolute;
    width: 200px;
    height: 1px;
    top: 24px;
    background-color: #aaa;
    content: '';
}

#or::before {
    left: 0;
}

#or::after {
    right: 0;
}

/* Home Page */
.header-section .navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.navbar-brand img {
    width: 90px;
}

.header-section .nav-item {
    margin: 0.7rem;
}

.header-section .nav-item .nav-link {
    position: relative;
    color: #000;
    text-transform: uppercase;
}

.header-section .nav-item .nav-link:hover {
    color: orangered;
}

.header-section .nav-item .btn {
    color: orangered;
    border: 2px solid orangered;
}

.header-section .nav-item .btn:focus {
    box-shadow: 0px 0px 8px 0px orangered;
    color: orangered;
}

.header-section .nav-item .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
    color: orangered;
}

.header-section .navbar-toggler:focus {
    box-shadow: none;
}

#home-page .banner {
    margin-top: 6.5rem;
}

#home-page .banner-content {
    width: 100%;
    height: 600px;
    background-image: url('../Assets/img\ \(9\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

#home-page .banner-content h1 {
    color: #000;
    font-size: 55px;
    font-weight: 900;
}

#home-page .banner-content p {
    color: #fff;
    width: 60%;
}

#home-page .booking-query-section {
    position: relative;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page .booking-query-section form {
    box-shadow: 0px 0px 8px 0px #000;
    border-radius: 10px;
    background: #fff;
    padding: 1.7rem;
}

#home-page .booking-query-section .btn {
    background-color: orangered;
    color: #fff;
    height: 100%;
}

#home-page .booking-query-section .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}

.booking-query-section .form-control:hover {
    box-shadow: 0px 0px 8px 0px royalblue;
}

.booking-query-section .form-control:focus {
    box-shadow: 0px 0px 8px 0px royalblue;
}

/* About Page */
#about-page {
    width: 100%;
    height: 100%;
    padding: 7rem 5rem;
}

#about-page .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner {
    width: 520px;
    height: 350px;
    background-image: url('../Assets/banner-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-page .btn {
    color: #fff;
    background-color: orangered;
}

#about-page .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}


/* Room Page */
#room-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}

#room-page .card {
    width: 400px;
    border: none;
    transition: 0.5s;
}

.description {
    position: relative;
}

#room-page .card .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    margin: 1rem;
}

#room-page .card .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}

#room-page .card .description {
    display: none;
}

#room-page .card:hover .description {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}


/* Service Page */
#service-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}

#service-page .service-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#service-page .servcie-banner {
    width: 600px;
    height: 450px;
    background-image: url('../Assets/img\ \(11\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#service-page .servcie-banner-card {
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 8px #111;
}

#service-page .servcie-banner-card:hover {
    box-shadow: 0px 2px 70px #111;
    transform: translateY(-5px);
}

#service-page .servcie-banner-card .img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#service-page .servcie-banner-card h5 {
    color: orangered;
    font-size: 24px;
    letter-spacing: 2px;
}

#service-page .servcie-banner-card p {
    font-style: 14px;
    letter-spacing: 1.5px;
}

/* Testimonial Page */
#testimonial-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}

#testimonial-page .rounded-circle {
    width: 150px;
    height: 150px;
}

#testimonial-page .carousel-control-prev-icon,
#testimonial-page .carousel-control-next-icon {
    background-color: red;
}

/* Footer */
#footer {
    position: relative;
    background-color: #111;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer .single-section i {
    color: orangered;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.footer-contact-text {
    padding-left: 1rem;
    display: inline-block;
    color: #fff;
}

.footer-contact-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 2px;
}

.footer-contact-text span {
    color: grey;
    font-size: 16px;
}

.footer-content {
    position: relative;
    z-index: 2;
    margin-bottom: 1rem;
}

.footer-logo img {
    width: 150px;
}

.footer-text p {
    margin: .7rem 0;
    font-size: 14px;
    color: gray;
    line-height: 26px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 1.2rem;
}

.footer-social-icon a {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.footer-social-icon i {
    font-size: 20px;
    color: #fff;
}

.footer-heading h3 {
    position: relative;
    color: #fff;
    font-weight: 900;
    margin-bottom: 3rem;
}

.footer-heading h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 2px;
    width: 120px;
    background: orangered;
}

.footer-heading ul li {
    text-decoration: none;
    display: flex;
    float: left;
    width: 50%;
    margin-bottom: .7rem;
}

.footer-heading ul li a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

.footer-heading ul li a:hover {
    color: orangered;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    width: 100%;
    border: none;
    padding: .7rem 1.2rem;
    background-color: #fff;
}

.subscribe-form input:focus {
    box-shadow: 0px 0px 8px 0px #fff;
}

.subscribe-form button {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: orangered;
    padding: .7rem 1.1rem;
    border: none;
}

/* Login Page */
#login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page .row {
    width: 100%;
    margin: 1rem 0;
    height: 600px;
    box-shadow: 0px 0px 8px 0px #111;
}

#login-page .row .login-banner {
    height: 600px;
    background-image: url('../Assets/img\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#login-page .row .form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section p a {
    text-decoration: none;
    color: orange;
}

.login-icon img {
    width: 24px;
}

.login-icon span {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    margin: 2px;
    font-size: 14px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-icon span:hover {
    box-shadow: 0px 0px 8px 0px #111;
}

.form-check-label span {
    color: orange;
}

.login-section .form-control:focus {
    box-shadow: 0px 0px 8px 0px royalblue;
}

.login-section .form-control:hover {
    box-shadow: 0px 0px 8px 0px royalblue;
}

.btn-submit .btn {
    width: 100%;
    background-color: orangered;
    color: #fff;
}

.btn-submit .btn:focus {
    box-shadow: none;
}

.btn-submit .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
    color: #fff;
}

/* Registration Page */
#registration-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration-page .row {
    width: 100%;
    margin: 1rem 0;
    height: 600px;
    box-shadow: 0px 0px 8px 0px #111;
}

#registration-page .row .registration-banner {
    height: 600px;
    background-image: url('../Assets/img\ \(3\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#registration-page .row .form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-section p a {
    text-decoration: none;
    color: orange;
}

.registration-icon img {
    width: 24px;
}

.registration-icon span {
    border: 1px solid #111;
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    margin: 2px;
    font-size: 14px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.registration-icon span:hover {
    box-shadow: 0px 0px 8px 0px #111;
}

.registration-section .form-control:focus {
    box-shadow: 0px 0px 8px 0px royalblue;
}

.registration-section .form-control:hover {
    box-shadow: 0px 0px 8px 0px royalblue;
}


/* Error Message */
.error_message {
    font-size: 12px;
    color: red;
}