@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
#header-text {
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

#header-title{
    font-size: 18px;
    color: orangered;
}

/* Home Page */
.header-section .navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.navbar-brand img {
    width: 90px;
}

.header-section .nav-item {
    margin: 0.7rem;
}

.header-section .nav-item .nav-link {
    position: relative;
    color: #000;
    text-transform: uppercase;
}

.header-section .nav-item .nav-link:hover {
    color: orangered;
}

.header-section .nav-item .btn {
    color: orangered;
    border: 2px solid orangered;
}

.header-section .nav-item .btn:focus {
    box-shadow: 0px 0px 8px 0px orangered;
    color: orangered;
}

.header-section .nav-item .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
    color: orangered;
}

.header-section .navbar-toggler:focus {
    box-shadow: none;
}

#home-page .banner {
    margin-top: 6.5rem;
}

#home-page .banner-content {
    width: 100%;
    height: 600px;
    background-image: url('../Assets/img\ \(9\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

#home-page .banner-content h1 {
    color: #000;
    font-size: 55px;
    font-weight: 900;
}

#home-page .banner-content p {
    color: #fff;
    width: 60%;
}

#home-page .booking-query-section {
    position: relative;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page .booking-query-section form {
    box-shadow: 0px 0px 8px 0px #000;
    border-radius: 10px;
    background: #fff;
    padding: 1.7rem;
}

#home-page .booking-query-section .btn {
    background-color: orangered;
    color: #fff;
    height: 100%;
}

#home-page .booking-query-section .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}

.booking-query-section .form-control:hover {
    box-shadow: 0px 0px 8px 0px royalblue;
}

.booking-query-section .form-control:focus {
    box-shadow: 0px 0px 8px 0px royalblue;
}

/* About Page */
#about-page {
    width: 100%;
    height: 100%;
    padding: 7rem 5rem;
}

#about-page .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner {
    width: 520px;
    height: 350px;
    background-image: url('../Assets/banner-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-page .btn {
    color: #fff;
    background-color: orangered;
}

#about-page .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}


/* Room Page */
#room-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}

#room-page .card {
    width: 400px;
    border: none;
    transition: 0.5s;
}

.description {
    position: relative;
}

#room-page .card .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    margin: 1rem;
}

#room-page .card .btn:hover {
    box-shadow: 0px 0px 8px 0px orangered;
}

#room-page .card .description {
    display: none;
}

#room-page .card:hover .description {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}


/* Service Page */
#service-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}

#service-page .service-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

#service-page .servcie-banner{
    width: 600px;
    height: 450px;
    background-image: url('../Assets/img\ \(11\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#service-page .servcie-banner-card{
    border: none;
    background-color: #111;
    color: #fff;
    box-shadow: 0px 2px 8px  #111;
}

#service-page .servcie-banner-card:hover{
    box-shadow: 0px 2px 70px #111;
    transform: translateY(-5px);
}

#service-page .servcie-banner-card .img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#service-page .servcie-banner-card h5{
    color: orangered;
    font-size: 24px;
    letter-spacing: 2px;
}

#service-page .servcie-banner-card p{
    font-style: 14px;
    letter-spacing: 1.5px;
}

/* Service Page */
#testimonial-page {
    width: 100%;
    height: 100%;
    padding: 7rem 0rem;
}